body, button, input, select, textarea {
    font: 12px/1.5 tahoma,arial,ËÎÌå;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
#wrap
{
    width:1210px;
    margin:0 auto;
}

#Head
{
    width:100%;
    float:left;
    height:158px;
}

#Logo
{
    background-image:url(Images/logo.png);
    background-repeat:no-repeat;
    background-position:50px 25px;
    float:left;
    width:208px;
    height:158px;
}

#MiddleNav
{
    float:left;
    height:100%;
    width:654px;
}

#Banner
{
    background-image:url(Images/banner.png);
    background-repeat: no-repeat;
    background-position: 50px 25px;
    width:100%;
    height:104px;
}
#Nav
{
    width:100%;
    height:54px;
    overflow:hidden;
}
ul,li
{
    list-style:none;
}
#Nav ul li
{
    float:left;
}

#Nav ul li {
    border-radius: 10px 10px 10px 10px;
    font-family: "ºÚÌå";
    font-size: 18px;
    height: 54px;
    line-height: 54px;
    margin-left: -7px;
    text-align: center;
    width: 112px;
}

#Line
{
    background-image:url(Images/line.png);
    background-repeat:no-repeat;
    width:100%;
    height:10px;
    float:left;
}

#Container
{
    float:left;
    margin-top:12px;
}

#Section_Left
{
    float:left;
    width:942px;
}

#Top
{
    float:left;
    width:100%;
}

#LeftNav
{
    width:260px;
    float:left;
    height:356px;
    border:solid 2px #e0efd7;
    border-radius:10px;
    padding:22px 0;
}

#MiddleTranslate
{
    width:650px;
    height:380px;
    border:solid 2px #e0efd7;
    border-radius:10px;
    float:right;
    padding:10px;
    overflow:hidden;
}

.NavHead 
{
    background-color:#eaf5f3;
    width:100%;
    height:26px;
    text-align:center;
    float:left;
}
.NHImgage
{
    background-image:url(Images/leftnav.png);
    background-repeat:no-repeat;
    display:block;
    height:26px;
    line-height:26px;
    margin:0 auto;
}
.NavContent
{
    width:240px;
    padding:5px 10px 0px 30px;
    float:left;
}
    .NavContent li
    {
        width:50px;
        float:left;
        margin-bottom: 5px;
    }
        .NavContent li a
        {
            background-image:url(Images/leftsubnav.png);
            background-repeat:no-repeat;
            display:block;
            width:100%;
               text-indent: -999px;
        }
.jiaju
{
    background-position:0 0;
}
.shoushi
{
    background-position:-50px 0;
}
.baijian
{
    background-position:-100px 0;
}
.wenju
{
    background-position:-150px 0;
}
.sijin
{
    background-position:-206px 0;
}
.banhua
{
    background-position:-256px 0;
}
.guajian
{
    background-position:-306px 0;
}
.ysp
{
    width:50px;
    background-position:0 center;
}
.zgsh
{
    background-position: -50px center;
    width: 70px;
}
.xhds
{
    background-position: -120px center;
    width: 70px;
}
.gwgyp
{
     background-position: -191px center;
    width: 92px;
}
.yspdz
{
     background-position: -191px center;
    width: 92px;
}