body, button, input, select, textarea {
    font: 12px/1.5 tahoma,arial,宋体;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
#wrap
{
    width:1089px;
    margin:0 auto;
}

#Head
{
    width:100%;
    float:left;
    height:158px;
}

#Logo
{
    background-image:url(Images/logo.png);
    background-repeat:no-repeat;
    background-position:50px 25px;
    float:left;
    width:208px;
    height:158px;
}

#MiddleNav
{
    float:left;
    height:100%;
    width:654px;
}

#Banner
{
    background-image:url(Images/banner.png);
    background-repeat: no-repeat;
    background-position: 50px 25px;
    width:100%;
    height:106px;
}
#Nav
{
    width:100%;
    height:52px;
    overflow:hidden;
}
ul,li
{
    list-style:none;
}
#Nav ul li
{
    float:left;
    height:52px;
}
#Nav ul li a
{
    text-indent:-9999px;
    height:100%;
    width:100%;
    display:block;
    cursor:pointer;
}
.nav_home
{
    background-image:url(Images/home.png);
    background-repeat:no-repeat;
    width:89px;
}
.nav_ysysp
{
     background-image:url(Images/ysysp.png);
    background-repeat:no-repeat;
    width:102px;
    background-position:left -1px;
}
.nav_zgsh
{
     background-image:url(Images/zgsh.png);
    background-repeat:no-repeat;
    width:110px;
     background-position:left -2px;
}
.nav_xhds
{
     background-image:url(Images/xhds.png);
    background-repeat:no-repeat;
    width:109px;
}
.nav_gwgyp
{
     background-image:url(Images/gwgyp.png);
    background-repeat:no-repeat;
    width:120px;
}
.nav_yspdz
{
     background-image:url(Images/yspdz.png);
    background-repeat:no-repeat;
    width:122px;
    background-position:left 3px;
}

#Line
{
    background-image:url(Images/line.png);
    background-repeat:no-repeat;
    width:100%;
    height:10px;
    float:left;
}

#Container
{
    float:left;
    margin-top:12px;
    width: 100%;
}

#Section_Left
{
    float:left;
    width:856px;
}
#ShouCang
{
    float: right;
    width: 220px;
    padding-top: 60px;
}

    #ShouCang ul
    {
        width: 100%;
    }

        #ShouCang ul li
        {
            width: 40%;
            float: right;
        }

            #ShouCang ul li a
            {
                font-size: 16px;
                text-decoration: none;
                color: #ccc;
            }

#Search_input
{
    float: right;
    width: 220px;
    text-align:right;
    padding:30px 0px 0 0;
}
    #Search_input input[type="text"]
    {
        width:150px;
        height:26px;
        border:none;
        background-color:#e5e5e5;
        border-radius:7px 0 0 7px;
    }
    #Search_input input[type="submit"]
    {
        width:37px;
        height:26px;
        background-image:url(Images/serach.png);
        background-repeat:no-repeat;
        text-indent:-999px;
        border:none;
       background-position:left 1px;
    }
#Top
{
    float:left;
    width:100%;
}

#LeftNav
{
    width:260px;
    float:left;
    height:356px;
    border:solid 2px #e0efd7;
    border-radius:10px;
    padding:22px 0;
}

#MiddleTranslate
{
    width:560px;
    height:380px;
    border:solid 2px #e0efd7;
    border-radius:10px;
    float:right;
    padding:10px;
    overflow:hidden;
}

.NavHead 
{
    background-color:#fbf2ec;
    width:100%;
    height:26px;
    text-align:center;
    float:left;
}
.NHImgage
{
    background-image:url(Images/leftnav.png);
    background-repeat:no-repeat;
    display:block;
    height:26px;
    line-height:26px;
    margin-left:7px;
    /*margin:0 auto;*/
}
.NavContent
{
    width:240px;
    padding:5px 10px 0px 30px;
    float:left;
}
    .NavContent li
    {
        width:50px;
        float:left;
        margin-bottom: 5px;
    }
        .NavContent li a
        {
            background-image:url(Images/leftsubnav.png);
            background-repeat:no-repeat;
            display:block;
            width:100%;
               text-indent: -999px;
        }
.jiaju
{
    background-position:0 0;
}
.shoushi
{
    background-position:-50px 0;
}
.baijian
{
    background-position:-100px 0;
}
.wenju
{
    background-position:-150px 0;
}
.sijin
{
    background-position:-206px 0;
}
.banhua
{
    background-position:-256px 0;
}
.guajian
{
    background-position:-306px 0;
}

.huaniao
{
    background-position:0 -37px;
}
.shanshui
{
    background-position:-50px -37px;
}
.renwu
{
    background-position:-100px -37px;
}
.nianhua
{
    background-position:-150px -37px;
}
.kaishu
{
    background-position:-206px -37px;
}
.lishu
{
    background-position:-257px -37px;
}
.zhuanshu
{
    background-position:-306px -37px;
}

.caoshu
{
    background-position:-356px -37px;
}

.fengjing
{
    background-position:0 -77px;
}
.renwu
{
    background-position:-50px -77px;
}
.jingwu
{
    background-position:-100px -77px;
}
.shuicai
{
    background-position:-150px -77px;
}
.banhua
{
    background-position:-206px -77px;
}
.diaosu
{
    background-position:-256px -77px;
}


.yuqi
{
    background-position:0 -114px;
}
.ciqi
{
    background-position:-50px -114px;
}
.zhubao
{
    background-position:-100px -114px;
}
.jinyintongqi
{
    background-position:-150px -114px;
}
.tongjing
{
    background-position:-232px -114px;
}
.baijian
{
    background-position:-282px -114px;
}
.foxiang
{
    background-position:-333px -114px;
}
.shoubajian
{
    background-position:-384px -114px;
}

.ysp
{
    width:50px;
    background-position:0 center;
}
.zgsh
{
    background-position: -52px center;
    width: 69px;
}
.xhds
{
    background-position: -120px center;
    width: 74px;
}
.gwgyp
{
     background-position: -194px center;
    width: 90px;
}
.yspdz
{
     background-position: -284px center;
    width: 92px;
}

#Content
{
    float:left;
    width:100%;
}
#YanShengPin,#GuWan,#ZhongGuoShuHua,#XiHua,#YiShuPinDingZhi
{
    padding:7px 0px;
    width:856px;
    float:left;
}
.NavTop
{
    width:100%;
    position:relative;
    float:left;
    height:41px;
}
.ntr
{
    background-image:url(Images/nav.png);
    background-repeat:no-repeat;
    width:139px;
    height:37px;
    position:absolute;
    z-index:2;
    font-size:16px;
    font-weight:bold;
    color:white;
    text-align:center;
    line-height:37px;
}
.ntb
{
    background-color: #A84200;
    border-radius: 3px 3px 3px 3px;
    height: 30px;
    position: absolute;
    top: 11px;
    width: 100%;
    z-index: 1;
}
    .ntb ul
    {
        padding-left:140px;
        margin-top:7px;
    }
     .ntb ul li
    {
         background-image:url(Images/bar.png);
         background-repeat:no-repeat;
         width:98px;
         float:left;
         text-indent: -999px;
         height:14px;
         border-right: 2px solid #F3E6DD;
         cursor:pointer;
    }
    .ntb .start
    {
        border-left: 2px solid #F3E6DD;
    }

    .ntb .jiaju
    {
        background-position: 0 0;
    }

    .ntb .shoushi
    {
        background-position: -100px 0;
    }

    .ntb .baijian
    {
        background-position: -204px 0;
    }

    .ntb .wenju
    {
        background-position: -300px 0;
    }

    .ntb .sijin
    {
        background-position: -406px 0;
    }

    #YanShengPin .ntb .banhua
    {
        background-position: -510px 0;
    }

    .ntb .guajian
    {
        background-position: -606px 0;
    }
    #ZhongGuoShuHua .ntb ul li
{
    width:85px;
}
.ntb .huaniao
{
    background-position:-5px -55px;
}
.ntb .shanshui
{
    background-position:-95px -55px;
}
#ZhongGuoShuHua .ntb .renwu
{
    background-position:-182px -55px;
}
.ntb .nianhua
{
    background-position:-260px -55px;
}
.ntb .kaishu
{
    background-position:-350px -55px;
}
.ntb .lishu
{
    background-position:-440px -55px;
}
.ntb .zhuanshu
{
    background-position:-526px -55px;
}

.ntb .caoshu
{
    background-position:-622px -55px;
}

.ntb .fengjing
{
    background-position:0 -82px;
}
.ntb .renwu
{
    background-position:-108px -82px;
}
.ntb .jingwu
{
    background-position:-208px -82px;
}
.ntb .shuicai
{
    background-position:-308px -82px;
}
.ntb .banhua
{
    background-position:-408px -82px;
}
.ntb .diaosu
{
    background-position:-508px -82px;
}

#GuWan .ntb ul li
{
    width:85px;
}
.ntb .yuqi
{
    background-position:-6px -28px;
}
.ntb .ciqi
{
    background-position:-96px -28px;
}
.ntb .zhubao
{
    background-position:-180px -28px;
}
.ntb .jinyintongqi
{
    background-position:-290px -28px;
}
.ntb .tongjing
{
    background-position:-390px -28px;
}
.ntb .baijian
{
    background-position:-474px -28px;
}
.ntb .foxiang
{
    background-position:-555px -28px;
}
.ntb .shoubajian
{
    background-position:-640px -28px;
}

.BarContent
{
    width:100%;
    margin-top:7px;
    float:left;
}
    .BarContent ul
    {
        width:100%;
        padding:0;
    }
        .BarContent ul li
        {
            width:166px;
            float:left;
            padding:2px;
            border-bottom: 1px solid #DDDDDD;
			border-top: 1px solid #DDDDDD;
			border-right: 1px dotted #F1F1F1;
			padding-top:14px;
            _height:217px;
            min-height:217px;
        }
    .BarContent .img
    {
	text-align: center;
        padding:4px;
    }
        .BarContent .img img
        {
            _width:150px;
            height:130px;
            min-width:130px;
            max-width:150px;
        }
    .BarContent .like
    {
        background-image:url(Images/like.png);
        background-repeat:no-repeat;
        width:64px;
        height:21px;
        float:right;
        margin:14px 4px 8px 4px;
    }
    .BarContent .title
    {
        float:left;
        margin:4px;
         width:158px;
        line-height:21px;
        color:#333;
    }
	  .BarContent .price
    {
        float:left;
        margin:4px;
         width:170px;
        height:21px;
        color:#333;
    }
	.BarContent .price strong{
		color:#E4393C;
	}
    .BarContent .last
    {
        border-right:none;
    }

.ntgw
{
    background-color:#601986;
}
.ntzg
{
    background-color:#0068b7;
}
.ntxh
{
    background-color:#638c0b;
}

#YiShuPinDingZhi .ntr
{
    left: 380px;
}
#YiShuPinDingZhi .ntb
{
    background-color: #b16666;
}
#YiShuPinDingZhi ul
{
    width:898px;
    margin:7px auto 0 auto;
}
#YiShuPinDingZhi li
{
   
    width:410px;
    height:249px;
    padding:4px;
    border:1px solid #DDDDDD;
}
    #YiShuPinDingZhi li img
    {
        width:410px;
        height:249px;
    }
#YiShuPinDingZhi .first
{
    margin-right:14px;
}

#Section_Right
{
    float:right;
    width:226px;
}
#Login
{
    padding:14px 8px 14px 14px;
    border:solid 2px #e0efd7;
    width:200px;
    float:right;
    border-radius:10px;
}


.reg
{
    background-image: url("Images/reiger.png");
    background-repeat: no-repeat;
    display: block;
    height: 25px;
    text-indent: -999px;
    width: 113px;
}

#denglu input[type="text"], #denglu input[type="password"]
{
    width: 162px;
    height: 28px;
    border: solid 1px #ccc;
    background-image: url("Images/input.png");
    background-repeat: no-repeat;
    padding-left:20px;
}
#denglu input[type="text"]
{
   background-position:4px 4px;
}
#denglu input[type="password"]
{
    background-position:4px -33px;
}

#denglu input[type="submit"]
{
    background-image: url("Images/login.png");
    background-repeat: no-repeat;
    border: medium none;
    height: 24px;
    width: 55px;
}


#denglu li
{
    height: 35px;
}
#denglu table
{
    width:200px;
}
#TuiJian
{
    width: 206px;
    float: right;
    border: solid 2px #e0efd7;
    border-radius: 10px;
    margin-top:13px;
    padding:8px;
}
    #TuiJian div
    {
        float:left;
         width:206px;
         text-align:center;
    }
        #TuiJian div img
        {
            width:206px;
        }
    #TuiJian ul
    {
        width:206px;
        float:left;
        margin-top:10px;
    }
     #TuiJian ul li
    {
        width:101px;
        float:left;
        margin-bottom:4px;
    }
        #TuiJian ul li img
        {
            width:92px;
        }
        #TuiJian ul li a
        {
            border:solid 1px #d9f0ce;
            padding:4px;
            display:block;
        }
    #TuiJian div a
    {
        font-size:16px;
        color:#f19149;
        text-decoration:none;
        font-weight:bold;
    }
.margin-r4
{
    margin-right:4px;
}

#SheJiShi
{
    width: 206px;
    float: right;
    border: solid 2px #e0efd7;
    border-radius: 10px;
    margin-top:13px;
    padding:8px;
}
    #SheJiShi div
    {
        float:left;
    }
        #SheJiShi div img
        {
            width:206px;
        }
          #SheJiShi ul div img
        {
            width:90px;
            height:90px;
        }
#SheJiShi ul
{
     width:206px;
        float:left;
        margin-top:7px;
}
    #SheJiShi ul li
    {
        float:left;
    }
.s_img
{
    float:left;
}
    .s_img a
    {
        display:block;
        padding:4px;
         border:solid 1px #d9f0ce;
         width:90px;
         height:90px;
    }
.s_name,.s_nick
{
    width:96px;
    padding:10px 5px;
    float:left;
    height:33px;
    line-height:33px;
    color:#f29a76;
    font-size:14px;
}
.s_des
{
    width:206px;
    line-height:150%;
    font-size:12px;
}

.s_first
{
    padding-bottom:27px;
    border-bottom:solid 2px #f39d79;
    margin-bottom:27px;
}
#Designer
{
    width: 206px;
    float: right;
    border: solid 2px #e0efd7;
    border-radius: 10px;
    margin-top:13px;
    padding:8px;
}
    #Designer ul
    {
        width: 206px;
        float: left;
        margin-top: 7px;
    }

        #Designer ul li
        {
            float: left;
        }

    #Designer div img
    {
        width: 206px;
    }

    #Designer ul div img
    {
        width: 90px;
        height: 90px;
    }
#NowSee
{
    width: 206px;
    float: right;
    border: solid 2px #e0efd7;
    border-radius: 10px;
    margin-top:14px;
    padding:8px;
}
    #NowSee div img
    {
        width:206px;
    }
     #NowSee ul div img
    {
        width:70px;
        height:70px;
    }
    #NowSee ul
    {
        float:left;
        margin-top:10px;
        width:206px;
    }
        #NowSee ul li
        {
            float:left;
            width:206px;
            margin-bottom:7px;
        }
.n_img
{
    float:left;
}
    .n_img a
    {
         display:block;
        padding:4px;
         border:solid 1px #d9f0ce;
         width:71px;
         height:70px;
    }
    .n_name
{
    width:114px;
    padding:4px;
    float:left;
    height:16px;
    line-height:16px;
    color:#f29a76;
    font-size:14px;
}
.n_des
{
    width:114px;
    line-height:150%;
    padding:0 4px;
    float:left;
}
.hezuo span
{
    float:left;
    font-size:16px;
    color:#429da0;
    font-weight:bold;
    display:block;
    width:200px;
    border-bottom:solid 2px #dbf0d0;
}
.hezuo ul
{
    width:200px;
}
.hezuo li
{
    float:left;
}
.hezuo li a
{
    background-image:url(Images/hezuo.png);
    background-repeat:no-repeat;
    width:36px;
    height:36px;
    float:left;
     text-indent:-9999px;
     margin-top:12px;
     margin-right:10px;
}

.weibo
{
    background-position:left top;
}
.qq
{
    background-position:-47px top;
}
.taobao
{
    background-position:-94px top;
}
.douban
{
    background-position:-142px top;
}
.register
{
    width:200px;
    margin-top:8px;
    margin-bottom:8px;
    float:left;
}
    .register a
    {
        background-image: url(Images/reiger.png);
        background-repeat: no-repeat;
        width: 166px;
        height: 37px;
        margin: 0 auto;
        display:block;
        text-indent:-9999px;
    }

.weibotuijian span
{
    float:left;
    font-size:16px;
    color:#429da0;
    font-weight:bold;
    display:block;
    width:200px;
    border-bottom:solid 2px #dbf0d0;
}
.weibotuijian ul
{
    width:200px;
}
.weibotuijian li
{
    float:left;
}
.weibotuijian li a
{
    background-image:url(Images/weibo.png);
    background-repeat:no-repeat;
    width:81px;
    height:31px;
    float:left;
     text-indent:-9999px;
     margin-top:12px;
     margin-right:10px;
}

.weibotuijian .weibo
{
    background-position:left top;
}
.weibotuijian .qq
{
    background-position:left top;
}

#Footer
{
    width:100%;
    float:left;
    position:relative;
    padding:10px 0px;
}

    #Footer .fot
    {
        float:left;
        width:1000px;
        padding:20px 45px;
        border:solid 1px #DDDDDD;
        border-right:none;
        border-left:none;
    }
    #Footer .huoban
    {
        height: 60px;
        border-top: solid 1px #DDDDDD;
    }

       #Footer .hzhb
    {
  width:100%;
       position:absolute;
       top:-5px;
       text-align:center;
    }
        #Footer .hzhb span
        {
                 font-size:20px;
       font-weight:bold;
       color:#429da0;
       padding:0 10px;
       background-color:white;
       
        }
        #Footer .huoban .hu
        {
            width:1100px;
            margin:0 auto;
        }
            #Footer .huoban .hu li
            {
               height:40px;
                float:left;
                 padding:10px 23px;
                 line-height:40px;

            }
                #Footer .huoban .hu li a
                {
                    
                    font-size:18px;
                    font-weight:bold;
                    text-decoration:none;
                    color:#403E3E;
                }
.k
{
    float:left;
    width:200px;
}
.k_top
{
}
    .k_top .ps
    {
        background-position: -33px 0;
    }

    .k_top .zf
    {
        background-position: -66px 0;
    }

    .k_top .sh
    {
        background-position: -99px 0;
    }

    .k_top .dkh
    {
        background-position: -132px 0;
    }
.ks1
{
    background-image:url("Images/f.png");
    background-repeat:no-repeat;
    width:33px;
    height:33px;
    display:block;
    float:left;
}
.ks2
{
    display:block;
    height:33px;
    line-height:33px;
    font-size:16px;
    font-weight:bold;
    color:#429da0;
    float:left;
    padding:0 10px;
}
.k ul
{
float:left;
}
.k li
{
    height:25px;
    line-height:25px;
    width:150px;
}
.k li a
{
    font-size:12px;
    text-decoration:none;
    padding:10px 7px;
    color:#403e3e;
    font-weight:bold;
}
.f_center
{
  text-align:center;
}
.bom
{
    width:100%;
    float:left;
}
    .bom div
    {
        width:1210px;
        text-align:center;
    }
.links
{
    width:100%;
    text-align:center;
    margin:10px 0;
    float:left;
}
    .links a
    {
        margin:0 10px;
        color:#666666;
        text-decoration:none;
    }
.move
{
    background-image:url(Images/s.png);
    background-repeat:no-repeat;
    background-position:left top;
    width:20px;
    height:14px;
    position:absolute;
    top:20px;
}
#YanShengPin .move
{
    left:182px;
}

#GuWan .move
{
     left:177px;
}

#ZhongGuoShuHua .move
{
     left:177px;
}

#XiHua .move
{
     left:182px;
}